@import url('https://fonts.googleapis.com/css?family=Lemonada:600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tajawal:500&display=swap');
*
{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
}

.video
{
    width: 100%;
}

.type h1
{
    position: absolute;
    top: 30%;
    left: 22%;
    color: #000;
    font-size: 6em;
    font-family: 'Lemonada', cursive;
    text-shadow: 4px 4px 1px yellow;
    margin-top:60px;
}
.type p
{
    
    position: absolute;
    bottom: 30%;
    left: 68%;
    font-family: 'Tajawal', sans-serif;
    font-size: 3em;
    color: #fff;
    text-shadow: 4px 4px 1px red;
}
.type p2
{
    
    position: absolute;
    bottom: 32%;
    left: 47%;
    font-family: 'Tajawal', sans-serif;
    font-size: 3em;
    color: #fff;
    text-shadow: 4px 4px 1px red;
}
.type p3
{
    
    position: absolute;
    bottom: 32%;
    left: 26%;
    font-family: 'Tajawal', sans-serif;
    font-size: 3em;
    color: #fff;
    text-shadow: 4px 4px 1px red;
}
.menu
{
   
    height: 70px;
    background: #a5a1a26e;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.menu h2
{

    position: absolute;
    top: 10px;
    left: 10px;
    color: #000;
    text-shadow: 1px 1px yellow;
}
.menu ul
{
    float: right;
    list-style: none;
}
.menu ul li
{
    
    display: inline-block;
    
}
.menu ul li a
{
    text-decoration: none;
    color: black;
    line-height: 70px;
    margin: 5px 5px;
    font-family: 'Tajawal', sans-serif;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid rgba(0, 0, 0, 0.34);
}
.menu ul li a:hover
{
    border: 2px solid #FB2525;
    background: #FB2525;
    transition: .5s;
    padding: 2px;
    color: white;
}
/*-----------------------------End Header--------------*/
/* ----------------------------Start Discover---------------*/
.discover
{
    width: 100%;
    background: black;
    color: #fff;
    padding: 20px;
}
.world
{
    margin-top: 20px;
    margin-bottom: 12%;
}
.world h1
{
    text-align: center;
    position: absolute;
    bottom: -75%;
    left: 35%; 
    padding: 20px;
    color: #000;
    font-size: 3em;
    font-family: 'Lemonada', cursive;
    text-shadow: 2px 2px 1px yellow;
    border: 1px solid #80808094;
    background: #80808094;
    border-radius: 20px;
    outline: none;
}
.col-md-6
{
    
}

.world-box
{
    
    border: 1px solid white;
    box-shadow: #fff;
    margin: 20px;
    position: relative;
    padding: 10px;
}
.world-box img
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    right: 6px;
    top: 4px;
}
.world-box h1
{
    display: inline-block;
    font-size: 30px;
    margin-left: 5px;
    position: absolute;
    right: 55px;
    top: 4px;
    text-shadow: 1px 1px red;
}
.world-box p
{
    margin-top: 50px;
    font-family: 'Tajawal', sans-serif;
    margin-bottom: 30px;
    
}
.world-box a
{
    
    position: absolute;
    bottom: 10px;
    left: 10px;
    text-decoration: none;
}
.world-box a:hover
{
    text-decoration: none;
    border: 2px solid #FB2525;
    background: #FB2525;
    transition: .5s;
    padding: 2px;
    color: white;
    
}
/*-----------------------------End Discover----------------- */
/* ---------------------------- Start About ------------------ */

.about-us
{
    position: relative;
    background: url('../img/about.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;
}
.about h1
{
    text-align: center;
    position: absolute;
    bottom: 65%;
    left: 38%;
    padding: 20px;
    color: #000;
    font-size: 3em;
    font-family: 'Lemonada', cursive;
    text-shadow: 2px 2px 1px yellow;
    border: 1px solid #80808094;
    background: #80808094;
    border-radius: 20px;
    outline: none;
    
}
.about p
{
   
    background-color: white;
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.6);
    height: auto;
    width: 80%;
    word-wrap: break-word;
    position: absolute;
    top: 85%;
    left: 10%;
    padding: 10px;
    font-family: 'Tajawal', sans-serif;
    direction: rtl;
    
}
/*-----------------------------------------End About-----------------------------*/
/*-----------------------------------------Start Developer-----------------------------*/

.dev
{
    margin-top: 100px;
    width: 100%;
    padding: 20px;
    background-color: #74c4ca40;
    
}
.col-md-6
{
    margin: auto;
    margin-bottom: 50px;
}
.developer h1
{
    text-align: center;
    /* position: absolute;
    bottom: 65%;
    left: 38%;*/ 
    padding: 20px;
    color: #000;
    font-size: 3em;
    font-family: 'Lemonada', cursive;
    text-shadow: 2px 2px 1px yellow;
 /*   border: 1px solid #80808094;
    background: #80808094;
    border-radius: 20px;
    outline: none;*/
}
.developer h1::after
{
    content: "";
    position: absolute;
    top: 385%;
    left: 42%;
    background: #7e898a8c;
    width: 16%;
    height: 3px;  
}
/*---------------------------- End Developer --------------------*/
/*--------------------------- الكارت الشخصي ---------------------*/
.profile-card
{
    margin-top: 150px;
    text-align: center;
    background: #93f9dd57;
    box-shadow: 2px 1px 15px 4px #000000ab;
    position: relative;
    padding: 20px;
}
.profile-card img
{
    border-radius: 50%;
    width: 25%;
    position: absolute;
    top: -15%;
    left: 40%;
}
.profile-card img.toty
{
    border-radius: 50%;
    width: 22%;
    position: absolute;
    top: -35%;
    left: 40%;
}
.profile-card h3
{
    margin-top: 100px;
}
.profile-card p
{
    font-weight: bold;
}
.skills
{
    background: powderblue;
    border-radius: 15px;
    margin-bottom: 10px;
}
.skills .prog-bar
{
    color: #000;
    border-radius: 15px;
    padding: 0.1em;
    font-weight: bold;
    text-align: center;
    
}
/* ----------------------------------------- START FOOTER ------------------*/
.footer
{
    width: 100%;
    height: 200px;
    background: black;
    overflow: hidden;
}
.row
{
  justify-content: center;  

}

.icon ul
{
    display: flex;
    
}
.icon ul li
{
    list-style: none;
    font-size: 50px;
    line-height: 150px;
    margin: 20px 30px;

}
.icon ul li a
{
    color: #9a9a9a; 
    border: 3px solid white;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    padding: 25px 30px;
}
.fb:hover
{
    color: blue;
    transition: .5s;
    background: #fff;
    border: 3px solid red;
}
.link:hover
{
    color: #0073B0;
    transition: .5s;
    background: #fff;
    border: 3px solid red;
}
.google:hover
{
    color: red;
    transition: .5s;
    background: #fff;
    border: 3px solid red;
}
/*------------------------------------------END FOOTER ----------------------*/


